.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    input {
        border: none;
        background-color: #e4e4e4;
        padding: 1rem;
        border-radius: 1rem;
    }
    
}