<div class="top-bar">
  <img src="../../../assets/weather-icons/day.svg" alt="" srcset="" />
  <div class="search">
    <input
      [(ngModel)]="city"
      placeholder="Digite uma cidade"
      
      />
      <!-- (keyup.enter)="searchWeather()" -->
    <button>Busca</button>
  </div>
</div>

@if(weatherData) {
<div class="weather-info">
    <div class="cln-1">
        <div class="box-1">
            <div class="big-card">
                <div class="header">
                  <div class="location">
                    <img src="../../../assets/imgs/location.png" alt="">
                    <h1>{{ weatherData.location.name }}, {{weatherData.location.region}}</h1>
                  </div>
                  <p>Ultima atualizacao: {{getFormatHour(weatherData.current.last_updated)}}</p>
                </div>
                

                <div class="temp">
                  <!-- <img [src]="weatherData.current.condition.icon" alt="Weather Icon" /> -->
                  <img [src]="'assets/weather-icons/' + (animatedWeatherIcons[weatherData.current.condition.code] || 'default.svg')" alt="Clima">
                  <h1>{{ weatherData.current.temp_c }}°C</h1>
                  <div class="condition">
                    <p class="text"> {{ weatherData.current.condition.text }}</p>
                    <p class="feels">Sensação de {{weatherData.current.feelslike_c}}°C</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="box-2">
            <div class="small-card">
              <small-card
                [image]="'../../../assets/imgs/min.png'"
                [title]="'Temperatura minima'"
                [value]="weatherData.forecast.forecastday[0].day.mintemp_c + '°C'" />
            </div>
            <div class="small-card">
              <small-card
                [image]="'../../../assets/imgs/max.png'"
                [title]="'Temperatura maxima'"
                [value]="weatherData.forecast.forecastday[0].day.maxtemp_c + '°C'" />
            </div>
        </div>
        <div class="box-3">
          <div class="small-card">
            <small-card
            [image]="'../../../assets/imgs/sunrise.png'"
            [title]="'Nascer do sol'"
            [value]="weatherData.forecast.forecastday[0].astro.sunrise" />
          </div>
          <div class="small-card">
            <small-card
            [image]="'../../../assets/imgs/sunset.png'"
            [title]="'Por do sol'"
            [value]="weatherData.forecast.forecastday[0].astro.sunset" />
          </div>
        </div>
    </div>
    <div class="cln-2">
        <div class="long-card">
          <p>forecast 1</p>
          <p>forecast 2</p>
          <p>forecast 3</p>
        </div>
    </div>
 
</div>
} @else {
<div class="no-data">
  <img src="../../../assets/imgs/no-weather.png" alt="" />
  <p>Informe um local.</p>
</div>
}
