<div class="toggle-mode">
  <img src="../../../assets/imgs/theme.png" alt="" srcset="" (click)="toggleTheme()"  [ngClass]="isDarkTheme ? 'filter' : ''"/>
</div>
<div class="top-bar">
  <img [src]="isDarkTheme ? '../../../assets/weather-icons/night.svg' : '../../../assets/weather-icons/day.svg' " alt="" srcset="" />
 
  <div class="search">

      <p-autoComplete 
      [(ngModel)]="selectedCity" 
      [suggestions]="filteredCities" 
      (completeMethod)="searchCity($event)" 
      (onSelect)="onCitySelect($event)"
      field="name"
      [minLength]="2"
      (keyup.enter)="onCitySelect()"
      placeholder="Digite uma cidade">

      <ng-template let-city pTemplate="item">
        <div class="city-option">
          <span class="city-name">{{ city.name }}</span>
          <span class="city-region">({{ city.region }}, {{ city.country }})</span>
        </div>
      </ng-template>
    
      <ng-template pTemplate="empty">
        <div class="no-results">Nenhuma cidade encontrada</div>
      </ng-template>
    </p-autoComplete>
    
    <button (click)="onCitySelect()">Busca</button>
  </div>
</div>

@if(weatherData) {
<div class="weather-info">
    <div class="cln-1">
        <div class="box-1">
            <div class="big-card">
                <div class="header">
                  <div class="location">
                    <img src="../../../assets/imgs/location.png" alt="" [ngClass]="isDarkTheme ? 'filter' : ''"/>
                    <h1>{{ weatherData.location.name }}, {{weatherData.location.region}}</h1>
                  </div>
                  <p>Ultima atualizacao: {{getFormatHour(weatherData.current.last_updated)}}</p>
                </div>
                

                <div class="temp">
                  <img [src]="'assets/weather-icons/' + (animatedWeatherIcons[weatherData.current.condition.code] || 'day.svg')" alt="Clima">
                  <h1>{{ weatherData.current.temp_c }}°C</h1>
                  <div class="condition">
                    <p class="text"> {{ weatherData.current.condition.text }}</p>
                    <p class="feels">Sensação de {{weatherData.current.feelslike_c}}°C</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="box-2">
            <div class="small-card">
              <small-card
                [image]="'../../../assets/imgs/min.png'"
                [title]="'Temperatura minima'"
                [value]="weatherData.forecast.forecastday[0].day.mintemp_c + '°C'"
                [filter]="'filter'" />
            </div>
            <div class="small-card">
              <small-card
                [image]="'../../../assets/imgs/max.png'"
                [title]="'Temperatura maxima'"
                [value]="weatherData.forecast.forecastday[0].day.maxtemp_c + '°C'"
                [filter]="'filter'" />
            </div>
        </div>
        <div class="box-3">
          <div class="small-card">
            <small-card
            [image]="'../../../assets/imgs/sunrise.png'"
            [title]="'Nascer do sol'"
            [value]="weatherData.forecast.forecastday[0].astro.sunrise" 
            [filter]="'none'"/>
          </div>
          <div class="small-card">
            <small-card
            [image]="'../../../assets/imgs/sunset.png'"
            [title]="'Por do sol'"
            [value]="weatherData.forecast.forecastday[0].astro.sunset" 
            [filter]="'none'"/>
          </div>
        </div>
    </div>
    <div class="cln-2">
        <div class="long-card-desktop">
          @for(forecast of forecastData ; track forecast) {
            <div class="forecast">
              <p class="date">{{forecast.date | date: 'dd/MM'}}</p>
              <div class="info">
                <img [src]="'assets/weather-icons/' + (animatedWeatherIcons[forecast.day.condition.code] || 'day.svg')" alt="Clima">
                <div class="temp">
                  <p class="avg">{{forecast.day.avgtemp_c}}°C</p>
                  <p class="text">{{forecast.day.condition.text}}</p>

                  <div class="min-max">
                    <p class="min">Min: {{forecast.day.mintemp_c}}°C</p>
                    <p class="max">Max: {{forecast.day.maxtemp_c}}°C</p>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>

        <div class="long-card-mobile">
          <h2>Proximos 3 dias</h2>
          <p-carousel [value]="forecastData" [numVisible]="1" [numScroll]="1" [circular]="true" orientation="vertical" autoplayInterval="3000">
            <ng-template let-day #item>
              <div class="forecast">
                <p class="date">{{day.date | date: 'dd/MM/yyyy'}}</p>
                <img [src]="'assets/weather-icons/' + (animatedWeatherIcons[day.day.condition.code] || 'day.svg')" alt="Clima">
                <p class="text">{{day.day.condition.text}}</p>
                <p class="temp">{{day.day.avgtemp_c}}°C</p>
              </div>
            </ng-template>
        </p-carousel>
        </div>
    </div>
 
</div>
} @else {
<div class="no-data">
  <img src="../../../assets/imgs/no-weather.png" alt="" />
  <p>Informe um local.</p>
</div>
}
